# Configuration Backend

## Variables d'environnement

Créez un fichier `.env` à la racine du backend avec:

```
SUPABASE_URL=https://bymrradymzwylvowqmqh.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5bXJyYWR5bXp3eWx2b3dxbXFoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4NDI5NTQsImV4cCI6MjA5MTQxODk1NH0.LyEZpHv0GSTFyvIkx8D-YaryjdXcLHlt7IVbzJxbmvE
SUPABASE_SECRET_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5bXJyYWR5bXp3eWx2b3dxbXFoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4NDI5NTQsImV4cCI6MjA5MTQxODk1NH0.LyEZpHv0GSTFyvIkx8D-YaryjdXcLHlt7IVbzJxbmvE
PORT=3001

# 📧 Configuration Email (Gmail)
EMAIL_USER=amineayedd2012@gmail.com
EMAIL_PASSWORD=guezqlxqvzfwonnp
ALERT_EMAIL=amineayedd2012@gmail.com


# Note: Pour Gmail, créer un mot de passe d'application:
# 1. Aller sur: https://myaccount.google.com/apppasswords
# 2. Sélectionner Mail et Windows
# 3. Copier le mot de passe généré
# 4. Coller dans EMAIL_PASSWORD
```

## Installation

```bash
npm install
```

## Démarrage

```bash
npm start
```

## Configuration Email

### Gmail (Gratuit)

1. Activer l'authentification 2FA
2. Créer mot de passe app: https://myaccount.google.com/apppasswords
3. Remplir `.env` avec:
   - EMAIL_USER=amineayedd2012@gmail.com
   - EMAIL_PASSWORD=guezqlxqvzfwonnp
   - ALERT_EMAIL=amineayedd2012@gmail.com


### Alternative: SendGrid (Gratuit 100/jour)

```bash
npm install @sendgrid/mail
```

Remplacer le transporter par:
```javascript
const sgMail = require('@sendgrid/mail');
sgMail.setApiKey(process.env.SENDGRID_API_KEY);
```
